<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta charset="utf-8">

    <title>Rhabarber</title>

    <!--
    <link rel="icon" type="image/png" href="assets/img/icons/rhabarber_icon_32.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icons/rhabarber_icon_180.png">
    -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!-- Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>


    <!-- Angular Material Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.js"></script>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">


    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- non angular scripts -->
    <script src="./assets/js/util.js"></script>
    <script src="./assets/js/storage.js"></script>
    <script src="./assets/js/tinycolor-min.js"></script>
    <script src="./assets/js/mdColorPicker.js"></script>

    <!-- application bootstrap  -->
    <script src="./app/app.js"></script>

    <!-- controllers -->
    <script src="./app/controllers/moduleController.js"></script>
    <script src="./app/controllers/houseController.js"></script>
    <script src="./app/controllers/roomController.js"></script>
    <script src="./app/controllers/toolbarController.js"></script>
    <script src="./app/controllers/notificationController.js"></script>
    <script src="./app/controllers/logoutController.js"></script>

    <script src="./app/controllers/modules/doorController.js"></script>
    <script src="./app/controllers/modules/multiRoomAudioController.js"></script>
    <script src="./app/controllers/modules/washingMachineController.js"></script>
    <script src="./app/controllers/modules/lightController.js"></script>
    <script src="./app/controllers/modules/weatherController.js"></script>
    <script src="./app/controllers/modules/blindsController.js"></script>
    <script src="./app/controllers/modules/heaterController.js"></script>
    <script src="./app/controllers/modules/logController.js"></script>
    <script src="./app/controllers/modules/ovenController.js"></script>

    <!-- directives -->
    <script src="./app/directives/toolbarDirective.js"></script>
    <script src="./app/directives/modulesDirectives.js"></script>
    <script src="./app/directives/moduleDirective.js"></script>
    <script src="./app/directives/roomImageDirective.js"></script>
    <script src="./app/directives/houseDirective.js"></script>
    <script src="./app/directives/slideDirective.js"></script>


    <!-- css -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/mdColorPicker.min.css">

</head>

<body ng-app="mainApp" flex>

<script>

    /*
     var body = document.getElementsByTagName("body")[0];

     body.addEventListener('touchmove', function (e) {
     e.preventDefault();

     }, false);
     */

</script>


<div ng-cloak>
    <div layout="column" layout-fill>
        <main-toolbar ng-cloak flex="nogrow"></main-toolbar>

        <!--
        <div ng-controller="notificationCtrl">
            <md.button ng-click="showNotificationToast()">CLIOCK</md.button>
        </div>
-->


        <div layout="row" flex="grow" ng-controller="roomCtrl">
            <md-content flex-gt-md="50" layout="column" hide show-gt-md>

                <md-tabs md-swipe-content="true" md-align-tabs="bottom" md-center-tabs flex class="md-primary"
                         md-no-ink-bar="true">
                    <md-tab>
                        <md-tab-label>
                            <img src="assets/img/icons/Roofing-96.png" class="tab-icon" alt="Haus">
                        </md-tab-label>

                        <md-tab-body layout="column" layout-align="center center">
                            <md-tab-content>
                                <house></house>
                            </md-tab-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

            </md-content>

            <div hide show-gt-md style="border:2px solid white;"></div>

            <md-content flex="100" flex-gt-md="50" layout="column">

                <md-tabs md-swipe-content="true" md-align-tabs="bottom" md-center-tabs flex
                         class="md-primary" md-no-ink-bar="false">


                    <md-tab ng-if="!desktopView">
                        <md-tab-label>
                            <img src="assets/img/icons/Roofing-96.png" class="tab-icon" alt="Haus">
                        </md-tab-label>

                        <md-tab-body layout="column" layout-align="center center">
                            <md-tab-content>
                                <house></house>
                            </md-tab-content>
                        </md-tab-body>
                    </md-tab>


                    <md-tab ng-repeat="room in rooms track by $index">
                        <md-tab-label>
                            <img ng-src={{room.iconUrl}} class="tab-icon" alt={{room.name}}>
                        </md-tab-label>

                        <md-tab-body layout="column" layout-align="center center">
                            <md-tab-content>
                                <div class="room-container" layout="column">
                                    <room-image></room-image>
                                    <div layout="column" hide show-xs>
                                        <div ng-repeat="module in room.modules">
                                            <module></module>
                                        </div>
                                    </div>


                                    <div layout="row" hide show-gt-xs>

                                        <div layout="column" flex="50">
                                            <div ng-repeat="module in room.modulesRight">
                                                <module></module>
                                            </div>
                                        </div>

                                        <div layout="column" flex="50">
                                            <div ng-repeat="module in room.modulesLeft">
                                                <module></module>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </md-tab-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

            </md-content>
        </div>
    </div>

</div>

</body>
</html>