<md-card class="font-black notification">
    <md-card-title layout="row" layout-align="start start">

        <div layout="column" style="margin-right: 5px">
            <img ng-src="assets/img/icons/weather/Heavy Rain-96.png" class="png-icon">
        </div>

        <div layout="column" flex>

            <div layout="row">
                <h3 flex style="margin-top:2px">Unwetter</h3>
                <span>13:42</span>
            </div>


            <md-card-content style="padding:0px 0px 4px 0px;" layout="column" layout-align="start start">
                <span class="notification-text">Starker Regen in 30 Min. Schließen Sie alle Fenster.</span>
            </md-card-content>

        </div>

    </md-card-title>
</md-card>