<div id="consumerContainer" >
<h2 aria-label="Verbraucher" class="padding-height-5 padding-left-10">Verbraucher</h2>
<div class="module stage1 fade" ng-if="!expanded">

    <div class='md-padding'>

        <div layout="row" ng-repeat="consumer in consumers | limitTo: consumerLimit | orderBy:'-elecConsumption' "
             layout-align="space-between center" ><!--ng-if="::consumer.isOn"-->
            <div>
                <span style="word-wrap: break-word;" class="">{{::consumer.name}}</span>
            </div>
            <div layout="row" flex="70" layout-align="end center">
                <div flex="40">
                    <img align="center" class="png-icon" src="assets/img/icons/Water-96.png">
                    <span>{{::consumer.waterConsumption}} m³</span>
                </div>
                <div flex="40">
                    <img align="center" class="png-icon" src="assets/img/icons/Electrical-96.png">
                    <span>{{::consumer.elecConsumption}} kWh</span>
                </div>

            </div>
        </div>


    </div>
</div>


<!-- extended controls-->
<div class="module stage2 fade" slide-toggle="expanded">

    <div class='md-padding'>
        <div layout="row" ng-repeat="consumer in consumers | orderBy:'-elecConsumption' "
             layout-align="space-between center" >
            <div>
                <span style="word-wrap: break-word;" class="">{{::consumer.name}}</span>
            </div>
            <div layout="row" flex="70" layout-align="end center">
                <div flex="40">
                    <img align="center" class="png-icon" src="assets/img/icons/Water-96.png">
                    <span>{{::consumer.waterConsumption}} m³</span>
                </div>
                <div flex="40">
                    <img align="center" class="png-icon" src="assets/img/icons/Electrical-96.png">
                    <span>{{::consumer.elecConsumption}} kWh</span>
                </div>

            </div>
        </div>



        <md-divider></md-divider>

        <div layout="row" layout-align="space-between center" ng-init="calcTotalConsumption();" id="chartContainer">
            <div layout="column">
                <span style="word-wrap: break-word;" class="">Verbrauch</span>
            </div>
            <div layout="row" flex="70" layout-align="end center">
                <div flex="40">
                    <img align="center" class="png-icon" src="assets/img/icons/Water-96.png">
                    <span>{{totalWaterConsumption}} m³</span>
                </div>
                <div flex="40">
                    <img align="center" class="png-icon" src="assets/img/icons/Electrical-96.png">
                    <span>{{totalElecConsumption}} kWh</span>
                </div>

            </div>
        </div>
    </div>
    <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-show="expanded" ng-click="openSettings();">
        <img class="png-icon" src="assets/img/icons/Settings-96.png">
    </md-button>



    <div layout="row" layout-aling="center center" >
        <hc-stock-chart flex="100" options="chartOptions">Beim erstellen der Statistik ist ein Fehler unterlaufen.</hc-stock-chart>
    </div>
</div>


<!-- Bottom Controls-->
<!--
<div layout="row" layout-align="space-between center">
    <div flex="10">
        <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-show="expanded">
            <img class="png-icon" src="assets/img/icons/Settings-96.png">
        </md-button>
    </div>

</div>
-->

</div>