<h2 aria-label="Verbraucher" class="padding-height-5 padding-left-10">Verbraucher</h2>
<div class="module stage1 fade" ng-if="!expanded" >

    <div class='md-padding'>
        <div layout="row" layout-wrap>
            <div layout="row" stlye="max-width:100%" ng-repeat="consumer in consumers" flex="33" layout-align="space-around center">

                <md-button class="no-margin" aria-label={{consumer.name}} ng-click="consumerClicked(consumer.id)">
                    
                    <div ng-if="consumer.isOn && consumer.isSwitchOffAble" style="word-wrap: break-word;">
                        <img align="center" class="png-icon" src="assets/img/icons/Flash On-96.png" flex>
                        <span style="word-wrap: break-word;" class="font-green" flex="70">{{consumer.name}}</span>
                    </div>
                    <div ng-if="consumer.isOn && !consumer.isSwitchOffAble" style="word-wrap: break-word;">
                        <img align="center" class="png-icon" src="assets/img/icons/Flash Always On-96.png" flex>
                        <span style="word-wrap: break-word;" class="font-green" flex="70">{{consumer.name}}</span>
                    </div>
                    
                    <div ng-if="!consumer.isOn && consumer.isSwitchOffAble" align="center" style="word-wrap: break-word;">
                        <img align="center" class="png-icon" src="assets/img/icons/Flash Off-96.png" flex>
                        <span style="word-wrap: break-word;" flex="70">{{consumer.name}}</span>
                    </div>
                    <div ng-if="!consumer.isOn && !consumer.isSwitchOffAble" align="center" style="word-wrap: break-word;">
                        <img align="center" class="png-icon" src="assets/img/icons/Flash Always Off-96.png" flex>
                        <span style="word-wrap: break-word;" flex="70">{{consumer.name}}</span>
                    </div>
                </md-button>
            </div>
        </div>

    </div>
</div>


<!-- extended controls-->
<div class="module stage2" slide-toggle="expanded">
    <div ng-repeat="consumer in consumers" layout="row" layout-align="space-between center" style="margin-left: 15px; margin-right:15px;">
        <md-button class="no-margin" aria-label={{consumer.name}} ng-click="consumerClicked(consumer.id)">

            <div ng-if="consumer.isOn && consumer.isSwitchOffAble"  >
                <img align="center" class="png-icon" src="assets/img/icons/Flash On-96.png" >
                <span  class="font-green" >{{consumer.name}}</span>
            </div>
            <div ng-if="consumer.isOn && !consumer.isSwitchOffAble">
                <img align="center" class="png-icon" src="assets/img/icons/Flash Always On-96.png" >
                <span  class="font-green" >{{consumer.name}}</span>
            </div>

            <div ng-if="!consumer.isOn && consumer.isSwitchOffAble" align="center" >
                <img align="center" class="png-icon" src="assets/img/icons/Flash Off-96.png" >
                <span >{{consumer.name}}</span>
            </div>
            <div ng-if="!consumer.isOn && !consumer.isSwitchOffAble" align="center">
                <img align="center" class="png-icon" src="assets/img/icons/Flash Always Off-96.png" >
                <span  >{{consumer.name}}</span>
            </div>
        </md-button>

        <span ng-if="!consumer.isOn"> 0 kWh </span>
        <span ng-if="consumer.isOn">{{consumer.consumption}} kWh </span>
    </div>

    <md-divider></md-divider>

    <div layout="row" layout-align="space-between center" style="margin-top:5px; margin-left: 15px; margin-right:15px;">
        <span>Alle zusammen</span>
        <span ng-init="calcTotalConsumption()">{{totalConsumption}} kWh</span>
    </div>


    <div layout="row" layout-aling="center center">
        <hc-chart flex="100"  options="chartOptions" >Placeholder for generic chart</hc-chart>
    </div>
</div>


<!-- Bottom Controls-->
<!--
<div layout="row" layout-align="space-between center">
    <div flex="10">
        <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-show="expanded">
            <img class="png-icon" src="assets/img/icons/Settings-96.png">
        </md-button>
    </div>

</div>
-->