<div class="module stage1">
    <h4 class="padding-bottom-10">Haustür geschlossen, Schloss verriegelt</h4>

    <div layout="row" layout-align="space-between center">
        <img flex src="assets/img/door.jpg" class="door-image">

        <div flex="40" flex-md = "50" flex-gt-md = "30" layout="row" layout-align="space-between center">
            <div layout="column" layout-align="space-between center" class="">


                <md-button hide-md class = "md-icon-button" layout-align="start start" layout="row">
                    <md-icon aria-label="Tür öffnen">vpn_key</md-icon>
                </md-button>

                <md-button hide show-md layout-align="start start" layout="row">
                    <md-icon aria-label="Tür öffnen">vpn_key</md-icon>
                    <div hide show-md>
                        Öffnen
                    </div>
                </md-button>


                <md-button hide-md class = "md-icon-button" layout-align="start start" layout="row">
                    <md-icon aria-label="Tür verriegeln">lock_outline</md-icon>
                </md-button>

                <md-button hide show-md layout-align="start start" layout="row">
                    <md-icon aria-label="Tür verriegeln">lock_outline</md-icon>
                    <div hide show-md>
                        Verriegeln
                    </div>
                </md-button>



            </div>

            <div layout="column" layout-align="start start" class="">

                <md-button hide-md class = "md-icon-button" layout-align="start start" layout="row">
                    <md-icon aria-label="Haustelefon">phone</md-icon>
                </md-button>

                <md-button hide show-md layout-align="start start" layout="row">
                    <md-icon aria-label="Haustelefon">phone</md-icon>
                    <div hide show-md>
                        Telefon
                    </div>
                </md-button>



                <md-button hide-md class = "md-icon-button" layout-align="start start" layout="row">
                    <md-icon aria-label="Türlicht">lightbulb_outline</md-icon>
                </md-button>

                <md-button hide show-md layout-align="start start" layout="row">
                    <md-icon aria-label="Türlicht">lightbulb_outline</md-icon>
                    <div hide show-md>
                        Licht
                    </div>
                </md-button>

            </div>
        </div>
    </div>
</div>


<div class="module stage2" slide-toggle="expanded">
    <hr>

    <h3>Letzter Zutritt</h3>

    <span>15:31 Uhr: Maria entriegelt die Tür.</span> <br>
    <span>15:31 Uhr: Maria öffnet die Tür.</span> <br>
    <span>15:32 Uhr: Die Tür wurde geschlossen</span> <br>

    <br>

    <span>17:14 Uhr: Martin öffnet die Tür.</span> <br>
    <span>17:14 Uhr: Die Tür wurde geschlossen</span> <br>
    <span>...</span>
</div>