<div class="module stage1">

    <md-card-title>
        <h2>Haustür - geschlossen</h2>
    </md-card-title>

    <h3 style="margin-left:12px;margin-top:0px">Schloss verriegelt</h3>

    <div layout="row" layout-align="center center">
        <div layout="column" flex="66">
            <img src="assets/img/door.jpg" class="door-image">
        </div>

        <md-card-actions class="no-margin" style="margin-left:3px !important;" layout="column"
                         layout-align="center start" flex="33">

            <md-button ng-if="!isOpen" aria-label="Öffnen" ng-click="timeoutOpen()">
                <img align="center" class="png-icon" src="assets/img/icons/Key-96.png" flex>
                <span>Öffnen</span>
            </md-button>

            <md-button ng-if="isOpen" aria-label="Öffnen">
                <img align="center" class="png-icon" src="assets/img/icons/green/Key-96.png" flex>
                <span class="font-green">Öffnen</span>
            </md-button>



            <md-button ng-if="!isLocked"  aria-label="Verriegeln" ng-click="toggleLock()">
                <img align="center" class="png-icon" src="assets/img/icons/Lock-96.png" flex>
                <span>Sperren</span>
            </md-button>

            <md-button ng-if="isLocked" aria-label="Verriegeln" ng-click="toggleLock()">
                <img align="center" class="png-icon" src="assets/img/icons/green/Lock-96.png" flex>
                <span class="font-green">Entsperren</span>
            </md-button>



            <md-button ng-if="!isLight" aria-label="Licht an" ng-click="timeoutLight()">
                <img align="center" class="png-icon" src="assets/img/icons/Light On-96.png" flex>
                <span>Licht</span>
            </md-button>

            <md-button ng-if="isLight" aria-label="Licht an">
                <img align="center" class="png-icon" src="assets/img/icons/green/Light On-96.png" flex>
                <span class="font-green">Licht</span>
            </md-button>


            <md-button ng-if="!isPhone" aria-label="Haustelefon" ng-click="togglePhone()">
                <img align="center" class="png-icon" src="assets/img/icons/Phone-96.png" flex>
                <span>Telefon</span>
            </md-button>

            <md-button ng-if="isPhone" aria-label="Haustelefon" ng-click="togglePhone()">
                <img align="center" class="png-icon" src="assets/img/icons/green/Phone-96.png" flex>
                <span class="font-green">Telefon</span>
            </md-button>

        </md-card-actions>
    </div>


</div>


<div class="module stage2" slide-toggle="expanded">
    <hr>

    <h3>Letzter Zutritt</h3>

    <span>15:31 Uhr: Maria entriegelt die Tür.</span> <br>
    <span>15:31 Uhr: Maria öffnet die Tür.</span> <br>
    <span>15:32 Uhr: Die Tür wurde geschlossen</span> <br>

    <br>

    <span>17:14 Uhr: Martin öffnet die Tür.</span> <br>
    <span>17:14 Uhr: Die Tür wurde geschlossen</span> <br>
    <span>...</span>
</div>