<div class="module stage1" ng-if="!expanded">
    <div>
        <div layout="column" layout-align="start start">
            <md-card-title>
                <h2>Temperatur - {{timeStateNames[currentTimeState]}} {{ models.currentTemp[currentTimeState]}}°</h2>
            </md-card-title>
        </div>

        <div layout="row" layout-align="space-between center" flex="95" style="margin-left:5px">
            <img class="png-icon" src="assets/img/icons/Temperature-96.png">
            <md-slider flex="90" class="md-primary" aria-label="Temperatureinstellung" min={{minTemp}} max={{maxTemp}}
                       ng-model="models.currentTemp[currentTimeState]">
            </md-slider>
        </div>
    </div>

    <div layout="row" layout-align="end center" ng-if="!expanded">
        <md-select ng-model="models.currentMode" flex="50" aria-label="Modus Auswahl" style="margin: 0px 10px 10px 20px;">
            <md-option ng-repeat="mode in modes track by mode.id" value="{{mode.id}}" aria-label="Szene {{mode.name}}">
                {{mode.name}}
            </md-option>
        </md-select>
    </div>
</div>

<!-- extended controls-->
<div flex class="module stage2" slide-toggle="expanded">

    <div ng-repeat="timeState in models.timeStates track by timeState.id">
        <div layout="column" layout-align="start start">
            <md-card-title>
                <h2>Temperatur - {{timeStateNames[timeState.id]}} {{ models.currentTemp[timeState.id]}}°</h2>
            </md-card-title>
        </div>

        <div layout="row" layout-align="space-between center" flex="95" style="margin-left:5px">
            <img class="png-icon" src="assets/img/icons/Temperature-96.png">
            <md-slider flex="90" class="md-primary" aria-label="Temperatureinstellung" min={{minTemp}} max={{maxTemp}}
                       ng-model="models.currentTemp[timeState.id]">
            </md-slider>
        </div>
    </div>

    <div layout="row" layout-align="end center">
        <md-select ng-model="models.currentMode" flex="50" aria-label="Modus Auswahl" style="margin: 0px 10px 10px 20px;">
            <md-option ng-repeat="mode in modes track by mode.id" value="{{mode.id}}" aria-label="Szene {{mode.name}}">
                {{mode.name}}
            </md-option>
        </md-select>
    </div>

    <md-divider style="margin-top:10px; margin-bottom: 10px;"></md-divider>
    <div layout="row" layout-align="space-between center">
        <span flex="33" style="padding-left:10px;">Boost</span>
        <div flex="66" layout="row" layout-align="center center">
            <md-button class="md-raised margin-right-20 md-accent" ng-click="" aria-label="Heizung boost zehn minuten"
                       flex="30">
                10 MIN
            </md-button>
            <md-button class="md-raised margin-right-20 md-accent" ng-click="" aria-label="Heizung boost 30 minuten"
                       flex="30">
                30 MIN
            </md-button>
        </div>
    </div>

    <md-card-actions layout="row" layout-align="space-between center" style="margin-left: 0px;">
        <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-click="openSettings();">
            <img class="png-icon" src="assets/img/icons/Settings-96.png">
        </md-button>
    </md-card-actions>

</div>


