<h2 class="padding-height-5 padding-left-10">Beleuchtung</h2>
<div class="module stage1" ng-hide="expanded">
    <div class='md-padding'>
        <div layout="row" layout-wrap>
            <div layout="row" ng-repeat="light in ::lights" flex="33" layout-align="space-around center">

                <md-button class="no-margin" aria-label={{::light.name}} ng-click="lightClicked($event, light.id)">
                    <div ng-if="light.isOn">
                        <img align="center" class="png-icon" src="assets/img/icons/Light On-96.png" flex="30">
                        <span class="font-green" flex="70">{{::light.name }}</span>
                    </div>
                    <div ng-if="!light.isOn" align="center">
                        <img align="center" class="png-icon" src="assets/img/icons/Light Off-96.png" flex="30">
                        <span flex="70">{{::light.name }}</span>
                    </div>
                </md-button>
            </div>
        </div>

    </div>
</div>

<!-- extended controls-->
<div flex class="module stage2" slide-toggle="expanded">
    <div ng-repeat="light in ::lights">
        <!--
                <div layout="row" layout-align="space-between center">
                    <span flex="75" >{{ light.name}}</span>
                    <span  flex="10" ng-if="light.isOn">ON</span>
                    <span flex="10" ng-if="!light.isOn">OFF</span>
                    <md-switch flex="20" ng-model="light.isOn" ></md-switch>
                </div>
        -->
        <div layout="row" layout-align="space-between center">

            <div layout="row" layout-align="center center">
                <md-button class="no-margin" aria-label={{::light.name}}
                           ng-click="lightClicked($event, light.id)">
                    <div ng-if="light.isOn">
                        <img align="center" class="png-icon" src="assets/img/icons/Light On-96.png">
                        <span class="font-green">{{::light.name }}</span>
                    </div>
                    <div ng-if="!light.isOn">
                        <img align="center" class="png-icon" src="assets/img/icons/Light Off-96.png">
                        <span>{{::light.name }}</span>
                    </div>
                </md-button>
            </div>

            <md-slider class="md-primary" flex="50" min="0" max="100" ng-model="light.dimState" aria-label="dimState"
                       id=""></md-slider>

            <span flex="15">{{light.dimState}} %</span>
        </div>

        <div layout="row" layout-align="end center" style="width:200px;">
            <div style="margin-top: -20px; margin-bottom: -40px; margin-right: 10px;" md-color-picker
                 ng-model="light.color" ng-if="light.isColorAble" flex="40"
                 md-color-alpha-channel="false" md-color-hex="false" md-color-hsl="false"
                 md-color-material-palette="false" md-color-sliders="false" md-color-generic-palette="false">
            </div>
        </div>
        <div layout="row" layout-align="end center"  ng-if="light.isColorAble">
            <input colorpicker="rgb" colorpicker-position="left" class="form-control" ng-model="light.color"  type="button" value="TEST"/>
        </div>

    </div>


</div>

<!-- Bottom Controls-->

<div layout="row" layout-align="space-between center">
    <div flex="10">
        <md-button class="md-icon-button no-margin" aria-label="Settings" ng-show="expanded">
            <img class="png-icon" src="assets/img/icons/Settings-96.png">
        </md-button>
    </div>
    <div class="margin-top-10 margin-bottom-10" layout="row" layout-align="space-around center" flex="90">

        <md-button class="md-raised margin-right-20 md-accent" ng-click="allLightOn();" aria-label="Alle Lichter an">
            ALLE AN
        </md-button>
        <md-button class="md-warn md-raised  margin-left-20" ng-click="allLightOff();"
                   aria-label="Alle Lichter aus">
            ALLE AUS
        </md-button>

    </div>


</div>
