<div class="module stage1" >
    <h2 class="padding-height-5 padding-left-10">Log</h2>
    <div ng-class="expanded ? 'log-content-size-expanded' : 'log-content-size' " class="log-content">
        <div ng-repeat="msg in logMsgs | limitTo : expanded ? Infinity : logQuantity" layout="column">
            <span class="log-small-text"> {{::msg }}</span>

        </div>
    </div>
</div>




<!-- extended controls-->
<div flex class="module stage2" slide-toggle="expanded">

</div>

<!-- Bottom Controls-->

<div layout="row" layout-align="space-between center">
    <div flex="10">
        <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-click="openSettings();"ng-show="expanded">
            <img class="png-icon" src="assets/img/icons/Settings-96.png">
        </md-button>
    </div>

</div>
