
<div layout = "row" layout-align = "start center">
    <img src = "assets/img/cover.jpg" class = "audio-cover-image">

    <div layout = "column" layout-align = "start" class = "padding-left-20">
        <h3>System Of a Down</h3>
        <h4>Chop Suey</h4>
    </div>

</div>


<div class = "green padding-height-5" >
    <md-card-actions>
        <md-card-icon-actions layout="row" layout-align="space-around center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon aria-label="Vorheriger Titel">skip_previous</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon aria-label="Pause">pause</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon aria-label="Nächster Titel">skip_next</md-icon>
            </md-button>
        </md-card-icon-actions>
    </md-card-actions>
</div>

<md-progress-linear md-mode="determinate" value="70"></md-progress-linear>

<!--
<h4>Blackest Eyes</h4>
<h5>Porcupine Tree - In Absentia</h5>

<md-card-actions>
    <md-card-icon-actions layout="row" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon aria-label="Vorheriger Titel">skip_previous</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
            <md-icon aria-label="Pause">pause</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon aria-label="Nächster Titel">skip_next</md-icon>
        </md-button>
    </md-card-icon-actions>
</md-card-actions>
-->