<div class="module stage1">

    <div layout="row" layout-align="start center">
        <img ng-src={{currentTrack.coverUrl}} class="audio-cover-image">

        <div flex layout="column" layout-align="start" class="padding-left-10">
            <h3>{{currentTrack.artist}}</h3>
            <h5>{{currentTrack.title}}</h5>
            <div style="margin-top:5px;" flex slide-toggle="expanded" layout = "row" layout-align = "start center">
                <h5 flex>{{currentTrack.album}}</h5>

                <md-button class="md-icon-button no-margin" aria-label="Wiederholen" ng-click="toggleRepeat()">
                    <img ng-if="!isRepeat" class = "png-icon" ng-src = "assets/img/icons/Repeat-96.png">
                    <img ng-if="isRepeat" class = "png-icon" ng-src = "assets/img/icons/green/Repeat-96.png">
                </md-button>

                <md-button class="md-icon-button no-margin" aria-label="Zufällig" ng-click="toggleShuffle()">
                    <img ng-if="!isShuffle" class = "png-icon" ng-src = "assets/img/icons/Shuffle-96.png">
                    <img ng-if="isShuffle" class = "png-icon" ng-src = "assets/img/icons/green/Shuffle-96.png">
                </md-button>

            </div>
        </div>

    </div>


    <!-- extended controls-->
    <div flex class="module stage2" slide-toggle="expanded" >
        <md-card-actions style = "margin-left:0px;" flex layout = "row" layout-align = "space-between center">
            <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-click="openSettings()">
                <img class = "png-icon" src = "assets/img/icons/Settings-96.png">
            </md-button>


            <img class = "png-icon" src = "assets/img/icons/High Volume-96.png" style="margin-right: 4px;">


            <md-slider flex class = "md-primary" ng-model="volume" aria-label="Lautstärkeregler" min="0" max="100"></md-slider>

            <md-button class="md-icon-button no-margin" aria-label="Casten">
                <img class = "png-icon" src = "assets/img/icons/Share-96.png">
            </md-button>

            <span>{{timePassedMin}}:{{timePassedSecF}}</span>

        </md-card-actions>
    </div>


        <div class="green padding-height-5">
            <md-card-actions layout="row" layout-align="space-around center">
                <md-button class="md-icon-button" aria-label="Vorheriger Titel" ng-click="previousTrack()">
                    <md-icon aria-label="Vorheriger Titel">skip_previous</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share" ng-click="togglePlay()">
                    <md-icon aria-label="Pause">pause</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Nächster Titel" ng-click="nextTrack()">
                    <md-icon aria-label="Nächster Titel">skip_next</md-icon>
                </md-button>
            </md-card-actions>
        </div>

    <md-progress-linear md-mode="determinate" value={{progress}}></md-progress-linear>
</div>