<h4>Blackest Eyes</h4>
<h5>Porcupine Tree - In Absentia</h5>

<md-card-actions>
    <md-card-icon-actions layout="row" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon aria-label="Vorheriger Titel">skip_previous</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
            <md-icon aria-label="Pause">pause</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon aria-label="Nächster Titel">skip_next</md-icon>
        </md-button>
    </md-card-icon-actions>
</md-card-actions>