<h2 aria-label="Photovoltaik" class="padding-height-5 padding-left-10">Photovoltaik</h2>
<div class="module stage1 fade">

    <div class='md-padding' style="margin-left:30px;">
        <div layout="column">
            <div layout=row layout-align="start center">
                <img class="png-icon-large" src="assets/img/icons/Solar Panel-96.png"style="margin-right:20px;">
                <h3>Photovoltaik</h3>
                <span>{{data.pvElecGeneration}} kWh</span>
            </div>
            <div layout=row layout-align="start center">
                <img class="png-icon-large" src="assets/img/icons/Electrical-96.png"style="margin-right:20px;">
                <h3>{{data.outside.type}}</h3>
                <span>{{data.outside.value }} kWh</span>
            </div>
            <div layout=row layout-align="start center">
                <img class="png-icon-large" src="assets/img/icons/Charging Battery-96.png" style="margin-right:20px;">
                <h3>Akku {{data.battery.isLoading ? 'Lädt' : "Speist"}}</h3>
                <span ng-if="data.battery.isLoading ">{{(data.battery.state*100).toFixed(0)}} %</span>
                <span ng-if="!data.battery.isLoading ">{{data.battery.generation}} kWh</span>
            </div>
            <div layout=row layout-align="start center">
                <img class="png-icon-large" src="assets/img/icons/PVHome-96.png" style="margin-right:20px;">
                <h3>Verbrauch</h3>
                <span>{{data.houseConsumption}} kWh</span>
            </div>
        </div>
    </div>






</div>


<!-- extended controls-->
<div class="module stage2 fade" slide-toggle="expanded">
    <md-button class="md-icon-button no-margin" aria-label="Einstellungen"  ng-click="openSettings();">
        <img class="png-icon" src="assets/img/icons/Settings-96.png">
    </md-button>

    <div layout="row" layout-aling="center center">
        <hc-stock-chart flex="100" options="chartOptions2">Beim erstellen der Statistik ist ein Fehler unterlaufen.</hc-stock-chart>
    </div>
</div>


<!-- Bottom Controls-->
<!--
<div layout="row" layout-align="space-between center">
    <div flex="10">
        <md-button class="md-icon-button no-margin" aria-label="Einstellungen" ng-show="expanded">
            <img class="png-icon" src="assets/img/icons/Settings-96.png">
        </md-button>
    </div>

</div>
-->

</div>