<settings-toolbar abort-mode="cancel" abort-function="close()" title="'Szene hinzufügen'"></settings-toolbar>

<md-content class="md-padding module-settings" layout="column" flex="100" style="min-height:550px">
    <form layout="column">

        <md-content class="md-padding" layout="column" flex="100">

            <md-input-container class="md-block">
                <label>Szenen Name</label>
                <input type="text" ng-model="sceneName" required>

            </md-input-container>
        </md-content>

        <md-button class="md-fab settings-fab-button" aria-label="Bestätigen" type="submit" ng-click="saveNewScene()" ng-disabled="isDisabled">
            <img ng-src="assets/img/icons/Checkmark-96.png" class="png-icon">
        </md-button>
    </form>
</md-content>
