<settings-toolbar title='{{selectedRoom().name}}'></settings-toolbar>

<md-content layout="row" layout-align="center start">

    <div layout="column" flex="100" flex-md="70" hide-gt-md>

        <div ng-repeat="module in selectedRoom().modules" class="settings-module">
            <div layout="row" flex style="margin-left:8px">
                <img ng-src='{{"assets/img/icons/modules/black/" + module.iconUrl}}' class="png-icon">
                <h3>{{module.displayName}}</h3>
            </div>

            <md-card flex>
                <md-card-content>
                    STUFF
                </md-card-content>
            </md-card>
        </div>

    </div>




    <div layout="column" hide flex="50" hide show-gt-md>

        <div ng-repeat="module in selectedRoom().modulesRight" class="settings-module">
            <div layout="row" flex style="margin-left:8px">
                <img ng-src='{{"assets/img/icons/modules/black/" + module.iconUrl}}' class="png-icon">
                <h3>{{module.displayName}}</h3>
            </div>

            <md-card flex>
                <md-card-content>
                    STUFF
                </md-card-content>
            </md-card>
        </div>

    </div>

    <div layout="column" hide flex="50" hide show-gt-md>

        <div ng-repeat="module in selectedRoom().modulesLeft" class="settings-module">
            <div layout="row" flex style="margin-left:8px">
                <img ng-src='{{"assets/img/icons/modules/black/" + module.iconUrl}}' class="png-icon">
                <h3>{{module.displayName}}</h3>
            </div>

            <md-card flex>
                <md-card-content>
                    STUFF
                </md-card-content>
            </md-card>
        </div>

    </div>

</md-content>