<settings-toolbar title='{{selectedModule().displayName}}'></settings-toolbar>

<md-content layout="row" layout-align="center start">

    <div layout="column" flex="100" flex-md="70" hide-gt-md>

        <div ng-repeat="room in selectedModule().rooms" class="settings-module">
            <div layout="row" flex style="margin-left:8px">
                <img ng-src='{{"assets/img/icons/rooms/black/" + room.iconUrl}}' class="png-icon">
                <h3>{{room.name}}</h3>
            </div>

            <md-card flex>
                <md-card-content>
                    STUFF
                </md-card-content>
            </md-card>
        </div>

    </div>




    <div layout="column" hide flex="50" hide show-gt-md>

        <div ng-repeat="room in selectedModule().roomsRight" class="settings-module">
            <div layout="row" flex style="margin-left:8px">
                <img ng-src='{{"assets/img/icons/rooms/black/" + room.iconUrl}}' class="png-icon">
                <h3>{{room.name}}</h3>
            </div>

            <md-card flex>
                <md-card-content>
                    STUFF
                </md-card-content>
            </md-card>
        </div>

    </div>

    <div layout="column" hide flex="50" hide show-gt-md>

        <div ng-repeat="room in selectedModule().roomsLeft" class="settings-module">
            <div layout="row" flex style="margin-left:8px">
                <img ng-src='{{"assets/img/icons/rooms/black/" + room.iconUrl}}' class="png-icon">
                <h3>{{room.name}}</h3>
            </div>

            <md-card flex>
                <md-card-content>
                    STUFF
                </md-card-content>
            </md-card>
        </div>

    </div>

</md-content>