<div layout="column" layout-fill>

    <div ng-cloak flex="nogrow">
        <settings-toolbar abort-mode="back" title="'Einstellungen'" abort-state="rooms"></settings-toolbar>
    </div>

    <div layout="column" flex="grow">
        <div layout="row" flex="grow">
            <md-content layout="column" flex-xs="100" flex-sm="40" flex-md="40" flex-gt-md="auto">

                <md-tabs md-swipe-content md-center-tabs md-align-tabs="top" class="settings-tabs"
                         md-no-ink-bar="false" flex md-selected="selectedTabIndex">
                    <md-tab label="Raum">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Räume</md-subheader>

                            <md-list>
                                <md-divider></md-divider>

                                <md-list-item class="md-1-line settings-list-item" ng-class="($index==getSelectedRoomIndex()) ? 'active' : ''"
                                              ng-repeat="room in rooms" ng-click="selectRoom($index)">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src='{{"assets/img/icons/rooms/black/" + room.iconUrl}}'
                                             class="png-icon">
                                        <h4 flex>{{room.name}}</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab>

                    <!--

                    <md-tab label="Modul">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Module</md-subheader>

                            <md-list>
                                <md-divider></md-divider>


                                <md-list-item class="md-1-line settings-list-item" ng-class="($index==selectedModuleIndex) ? 'active' : ''"
                                              ng-repeat="module in roomModules" ng-click="selectModule($index)">
                                        <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                            <img ng-src='{{"assets/img/icons/modules/black/" + module.iconUrl}}'
                                                 class="png-icon">
                                            <h4 flex>{{module.displayName}}</h4>
                                        </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab>
                    -->

                    <md-tab label="Szene">
                        <md-content class="md-padding" style="padding-top:18px !important;">

                        </md-content>
                    </md-tab>


                    <md-tab ng-if="user.isAdmin" label="Admin">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Konfiguration</md-subheader>

                            <md-list>
                                <md-divider></md-divider>

                                <md-list-item class="md-1-line settings-list-item" ng-class="(getSelectedAdminIndex() === 0) ? 'active' : ''" ng-click="selectHouseSettings()">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src="assets/img/icons/Roofing-96-black.png"
                                             class="png-icon">
                                        <h4 flex>Hauseinstellungen</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>

                                <md-list-item class="md-1-line settings-list-item" ng-class="(getSelectedAdminIndex() === 1) ? 'active' : ''" ng-click="selectRoomConfiguration()">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src="assets/img/icons/Room-96.png"
                                             class="png-icon">
                                        <h4 flex>Raumkonfiguration</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>

                                <md-list-item class="md-1-line settings-list-item" ng-class="(getSelectedAdminIndex() === 2) ? 'active' : ''" ng-click="selectUserManagement()">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src="assets/img/icons/User-96.png"
                                             class="png-icon">
                                        <h4 flex>Bewohnerverwaltung</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>


                            </md-list>
                        </md-content>
                    </md-tab>
                </md-tabs>


            </md-content>

            <div hide show-gt-md style="border:2px solid white;"></div>

            <md-content ng-if="getSelectedAdminIndex() != 1"  hide show-gt-xs flex-sm="60" flex-md="60" flex-gt-md="66" layout="column">

                <room-settings ng-if="selectedTabIndex == 0"></room-settings>
                <module-settings ng-if="selectedTabIndex == 1"></module-settings>
                <house-settings style="position:relative" flex ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 0"></house-settings>

            </md-content>

            <md-content ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 1" hide show-gt-xs flex-sm="60" flex-md="60" flex-gt-md="33" layout="column">

                <room-configuration style="position:relative" flex ng-if="getSelectedAdminIndex() == 1"></room-configuration>

            </md-content>

            <div ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 1" style="border:2px solid white;"></div>

            <md-content ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 1" hide show-gt-xs flex-sm="60" flex-md="60" flex-gt-md="33" layout="column">

                <new-room room="getRoomToEdit()" style="position:relative" flex ng-if="getSelectedAdminIndex() == 1 && isEditingRoom()"></new-room>

            </md-content>
        </div>
    </div>
</div>