<div layout="column" layout-fill>

    <div layout="column" flex="grow">
        <div layout="row" flex="grow">

            <!-- Left view-->
            <div layout="column" flex-xs="100" flex-sm="50" flex-md="40" flex-gt-md="30">
                <div ng-cloak flex="nogrow">
                    <settings-toolbar abort-mode="back" title="'Einstellungen'" abort-state="rooms"></settings-toolbar>
                </div>

                <md-tabs md-swipe-content md-center-tabs md-align-tabs="top" class="settings-tabs"
                         md-no-ink-bar="false" flex md-selected="selectedTabIndex">

                    <md-tab label="Raum">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Räume</md-subheader>

                            <md-list>
                                <md-divider></md-divider>

                                <md-list-item class="md-1-line settings-list-item" ng-class="($index==getSelectedRoomIndex()) ? 'active' : ''"
                                              ng-repeat="room in getRoomsWithHouse()" ng-click="selectRoom($index)">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src='{{"assets/img/icons/rooms/black/" + room.iconUrl}}'
                                             class="png-icon">
                                        <h4 flex>{{room.name}}</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>

                            </md-list>
                        </md-content>
                    </md-tab>

                    <!--

                    <md-tab label="Modul">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Module</md-subheader>

                            <md-list>
                                <md-divider></md-divider>


                                <md-list-item class="md-1-line settings-list-item" ng-class="($index==selectedModuleIndex) ? 'active' : ''"
                                              ng-repeat="module in roomModules" ng-click="selectModule($index)">
                                        <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                            <img ng-src='{{"assets/img/icons/modules/black/" + module.iconUrl}}'
                                                 class="png-icon">
                                            <h4 flex>{{module.displayName}}</h4>
                                        </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab>
                    -->
                    <!--############################################################################

                        ###########################################################################
                     -->

                    <md-tab label="Szene">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Räume</md-subheader>

                            <md-list>
                                <md-divider></md-divider>

                                <md-list-item class="md-1-line settings-list-item" ng-class="($index==getSelectedRoomForSceneIndex()) ? 'active' : ''"
                                              ng-repeat="room in rooms" ng-click="selectRoomForScene($index)">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src='{{"assets/img/icons/rooms/black/" + room.iconUrl}}'
                                             class="png-icon">
                                        <h4 flex>{{room.name}}</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>

                            </md-list>
                        </md-content>
                    </md-tab>


                    <md-tab ng-if="user.isAdmin" label="Admin">
                        <md-content class="md-padding" style="padding-top:18px !important;">
                            <md-subheader class="md-no-sticky">Konfiguration</md-subheader>

                            <md-list>
                                <md-divider></md-divider>

                                <md-list-item class="md-1-line settings-list-item" ng-class="(getSelectedAdminIndex() === 0) ? 'active' : ''" ng-click="selectHouseSettings()">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src="assets/img/icons/Roofing-96-black.png"
                                             class="png-icon">
                                        <h4 flex>Hauseinstellungen</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>

                                <md-list-item class="md-1-line settings-list-item" ng-class="(getSelectedAdminIndex() === 1) ? 'active' : ''" ng-click="selectRoomConfiguration()">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src="assets/img/icons/Room-96.png"
                                             class="png-icon">
                                        <h4 flex>Raumkonfiguration</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>

                                <md-list-item class="md-1-line settings-list-item" ng-class="(getSelectedAdminIndex() === 2) ? 'active' : ''" ng-click="selectUserManagement()">
                                    <div class="md-list-item-text" layout="row" layout-align="center center" flex>
                                        <img ng-src="assets/img/icons/User-96.png"
                                             class="png-icon">
                                        <h4 flex>Bewohnerverwaltung</h4>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>


                            </md-list>
                        </md-content>
                    </md-tab>
                </md-tabs>


            </div>


            <!-- seperator-->
            <div hide show-gt-xs class="vertical-divider"></div>

            <!-- middle view 66% House Settings-->
            <div ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 0 && !isXs()" layout="column" flex-sm="auto" flex-md="auto" flex-gt-md="auto">
                <house-settings style="position:relative" flex></house-settings>
            </div>


            <!-- middle view 66% Scene Settings-->
            <div ng-if="selectedTabIndex == sceneTabIndex && !isXs()" layout="column" flex-sm="auto" flex-md="auto" flex-gt-md="auto">
                <scene-settings style="position:relative" flex></scene-settings>
            </div>


            <!-- middle view 33% Room Settings -->
            <div ng-if="selectedTabIndex == roomTabIndex && !isXs()" layout="column" flex-sm="auto" flex-md="auto" flex-gt-md="auto">
                <room-settings></room-settings>
            </div>

            <!-- middle view 33% Room Config -->
            <md-content ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 1 && !isXs()" layout="column" flex-sm="50" flex-md="auto" flex-gt-md="auto">
                <room-configuration></room-configuration>
            </md-content>

            <!-- seperator-->
            <div hide show-gt-md class="vertical-divider"></div>

            <!-- right view  33%-->
            <div ng-if="selectedTabIndex == adminTabIndex && getSelectedAdminIndex() == 1 && (isEditingRoom() || isAddingRoom()) && isGtMd()" layout="column" flex-gt-md="auto">
                <new-room room-id="getRoomIdToEdit()" style="position:relative" flex></new-room>
            </div>

            <!-- right view  33%-->
            <div ng-if="selectedTabIndex == sceneTabIndex && !isXs()" layout="column" flex-gt-md="auto">
                <scene-module-settings ></scene-module-settings>
            </div>
        </div>
    </div>
</div>