<md-toolbar ng-controller="toolbarCtrl" class="settings-toolbar" id="settings-toolbar">
    <div class="md-toolbar-tools">

        <md-button ng-if="abortMode == 'back'" class="md-icon-button" aria-label="Zurück" ng-click="doAbort()">
            <img ng-src="assets/img/icons/Back-96.png" class="png-icon">
        </md-button>

        <md-button ng-if="abortMode == 'cancel'" class="md-icon-button" aria-label="Abbrechen" ng-click="doAbort()">
            <img ng-src="assets/img/icons/Delete-96.png" class="png-icon">
        </md-button>



        <span flex></span>

        <h2>{{title}}</h2>

        <span flex></span>
    </div>
</md-toolbar>