<md-dialog  style="width:380px" aria-label="PIN ändern Dialog" ng-cloak>
    <form name="pinForm" required>
        <md-toolbar>

            <div class="md-toolbar-tools">
                <md-button  class="md-icon-button" aria-label="Zurück" ng-click="hideDialog()">
                    <img ng-src="assets/img/icons/Delete-96.png" class="png-icon">
                </md-button>

                <h2>PIN ändern</h2>

            </div>
        </md-toolbar>


        <md-dialog-actions style="padding-left:8px; padding-top:40px;" layout="column" layout-align="center center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Aktueller PIN</label>
                <input type="password"  maxlength="4" ng-model="currentPin" name="currentPin" required>
                <div ng-messages="pinForm.currentPin.$error">
                    <span ng-if="isPinEmtpy">PIN eingeben</span>
                    <span ng-if="pinIsWrong">PIN falsch</span>
                </div>

            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Neuer PIN</label>
                <input type="password"  maxlength="4" ng-model="newPin" name="newPin" required>
                <div ng-messages="pinForm.newPin.$error">
                    <span ng-if="isNewPinEmtpy">Neuen PIN eingeben</span>
                    <span ng-if="isNewPinTooShort">PIN ist zu kurz</span>
                </div>

            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Neuer PIN (Wiederholen)</label>
                <input type="password"  maxlength="4" ng-model="newPinRepeat" name="newPinRepeat" required>
                <div ng-messages="pinForm.newPinRepeat.$error">
                    <span ng-if="isNewPinRepeatEmtpy">Neuen PIN eingeben</span>
                    <div ng-if="newPinRepeatIsDifferent">PINs stimmen nicht überein</div>
                </div>

            </md-input-container>

            <md-button style="margin-left: 0px;" type="submit" class="md-raised" ng-click="changePin()">
                Ändern
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>