<div ng-controller="houseCtrl" layout="column">

    <room-image room="house"></room-image>

    <div layout="row" layout-xs="column" layout-align-gt-xs="space-between start">


        <div layout="column" flex="auto" hide-xs>

        </div>


        <div style="max-width:480px" layout="column" flex-gt-xs="grow">
            <div ng-repeat="module in ::modulesRight">
                <module></module>
            </div>
        </div>

        <div layout="column" flex="auto" hide-xs>

        </div>

        <div style="max-width:480px" layout="column" flex-gt-xs="grow">
            <div ng-repeat="module in ::modulesLeft">
                <module></module>
            </div>
        </div>


        <div layout="column" flex="auto" hide-xs>

        </div>


    </div>

</div>