<div ng-controller="houseCtrl" layout="column">

    <room-image room="::house"></room-image>

    <div layout="column" hide show-xs>
        <div ng-repeat="module in ::modules">
            <module></module>
        </div>
    </div>


    <div layout="row" layout-align="center start" hide show-gt-xs>

        <div layout="column" flex="auto">

        </div>

        <div style="width:480px" layout="column" flex="nogrow">
            <div ng-repeat="module in ::modulesRight">
                <module></module>
            </div>
        </div>

        <div layout="column" flex="auto">

        </div>

        <div style="width:480px" layout="column" flex="nogrow">
            <div ng-repeat="module in ::modulesLeft">
                <module></module>
            </div>
        </div>


        <div layout="column" flex="auto">

        </div>
    </div>

</div>