<md-card ng-cloak class="module card">

    <md-button ng-click="expanded = !expanded" class="md-icon-button module-arrow-button"
               aria-label="Erweitern">

        <md-icon ng-show="!expanded" aria-label="Pause">keyboard_arrow_down</md-icon>
        <md-icon ng-show="expanded" aria-label="Pause">keyboard_arrow_up</md-icon>

    </md-button>


    <md-card-content layout="column" layout-align="none center">
        <!-- all modules -->

        <!-- house -->
        <door class="module-content" ng-if="module.name === 'door'"></door>
        <weather class="module-content" ng-if="module.name === 'weather'"></weather>
        <log class="module-content" ng-if="module.name === 'log'"></log>

        <!-- rooms-->
        <washing-machine class="module-content" ng-if="module.name === 'washingMachine'"></washing-machine>
        <multi-room-audio class="module-content" ng-if="module.name === 'multiRoomAudio'"></multi-room-audio>
        <light class="module-content" ng-if="module.name === 'light'"></light>
        <blinds class="module-content" ng-if="module.name === 'blinds'"></blinds>
        <heater class="module-content" ng-if="module.name === 'heater'"></heater>
        <oven class="module-content" ng-if="module.name === 'oven'"></oven>


    </md-card-content>
</md-card>