<md-content ng-controller="houseCtrl" layout="column" layout-fill>

    <room-image></room-image>

    <div layout="column" hide show-xs>
        <div ng-repeat="module in modules">
            <module></module>
        </div>
    </div>


    <div layout="row" hide show-gt-xs>

        <div layout="column" flex="50">
            <div ng-repeat="module in modulesRight">
                <module></module>
            </div>
        </div>

        <div layout="column" flex="50">
            <div ng-repeat="module in modulesLeft">
                <module></module>
            </div>
        </div>
    </div>

</md-content>