<md-card ng-cloak md-swipe-down="expanded = true" md-swipe-up="expanded=false"
         class="module card">

    <md-button ng-click="expanded = !expanded" class="md-icon-button module-arrow-button"
               aria-label="Erweitern">
        <md-icon ng-show = "!expanded" aria-label="Pause">keyboard_arrow_down</md-icon>
        <md-icon ng-show = "expanded" aria-label="Pause">keyboard_arrow_up</md-icon>
    </md-button>


    <md-card-content layout="column" layout-align="none center">
            <!-- all modules -->

            <multi-room-audio class = "module-content" ng-if="module.name === 'multiRoomAudio'"></multi-room-audio>
            <door class = "module-content" ng-if="module.name === 'door'"></door>

    </md-card-content>
</md-card>