<md-card ng-cloak md-swipe-down="onModuleSwipeDown()"
         class="multi-room-audio module card">


    <div layout = "row" layout-align = "end start">
        <md-button ng-show = "!module.expanded" class="md-icon-button" aria-label="Erweitern">
            <md-icon aria-label="Pause">keyboard_arrow_down</md-icon>
        </md-button>
    </div>


    <md-card-content layout="column" layout-align="none center">
        <div class="module stage1">

            <!-- all modules, stage 1 -->

            <multi-room-audio1 ng-if = "module.name === 'multiRoomAudio'"></multi-room-audio1>
            <door1 ng-if = "module.name === 'door'"></door1>


        </div>

        <div class="module stage2" ng-hide="true">

            <hr>

            <!-- all modules, stage 2 -->

            <multi-room-audio2 ng-if = "module.name === 'multiRoomAudio'"></multi-room-audio2>
            <door2 ng-if = "module.name === 'door'"></door2>
        </div>
    </md-card-content>
</md-card>