<md-toast flex="100" class="notification-toast">

    <div layout="row" flex="100" class="notification-content">
        <div>
            <img ng-src="assets/img/icons/Washing Machine-96.png" class="png-icon-large">
        </div>

        <div layout="column" flex>
            <div layout="row" layout-align="space-between center">
                <h3>Waschmaschine</h3>

                <span>13:37</span>
            </div>

            <span>Die Waschmaschine ist fertig.</span>

        </div>
    </div>
</md-toast>