
        <div ng-style="{'background-image': 'url(' + room.roomImageUrl + ')'}" class="room-image-container" layout="column" layout-align="center center">
                <h1 class = "room-image-text">{{room.name}}</h1>
        </div>




<!--
<div ng-style="{'background-image': 'url(' + room.roomImageUrl + ')'}" layout = "row" layout-align = "center center" flex="20">
    <div layout="column" flex="100">
        <h1 class = "room-image-text">{{room.name}}</h1>
    </div>

</div>

<!-- class="module room-image-container" -->