<div layout="column" layout-fill>

    <div ng-cloak flex="nogrow">
        <main-toolbar></main-toolbar>
    </div>

    <div layout="column" ui-view="content" flex="grow">
        <div layout="row" flex="grow">
            <md-content flex-gt-md="50" layout="column" hide show-gt-md>

                <md-tabs md-swipe-content="true" md-align-tabs="bottom" md-center-tabs flex class="md-primary"
                         md-no-ink-bar="true">
                    <md-tab>
                        <md-tab-label>
                            <img src="assets/img/icons/Roofing-96.png" class="tab-icon" alt="Haus">
                        </md-tab-label>

                        <md-tab-body layout="column" layout-align="center center">
                            <md-tab-content>
                                <house></house>
                            </md-tab-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

            </md-content>

            <div hide show-gt-md style="border:2px solid white;"></div>

            <md-content flex="100" flex-gt-md="50" layout="column">

                <md-tabs md-swipe-content="true" md-align-tabs="bottom" md-center-tabs flex
                         class="md-primary" md-no-ink-bar="false">


                    <md-tab ng-if="!desktopView">
                        <md-tab-label>
                            <img src="assets/img/icons/Roofing-96.png" class="tab-icon" alt="Haus">
                        </md-tab-label>

                        <md-tab-body layout="column" layout-align="center center">
                            <md-tab-content>
                                <house></house>
                            </md-tab-content>
                        </md-tab-body>
                    </md-tab>


                    <md-tab ng-repeat="room in rooms track by $index">
                        <md-tab-label>
                            <img ng-src={{room.iconUrl}} class="tab-icon" alt={{room.name}}>
                        </md-tab-label>

                        <md-tab-body layout="column" layout-align="center center">
                            <md-tab-content>
                                <div class="room-container" layout="column">
                                    <room-image></room-image>
                                    <div layout="column" hide show-xs>
                                        <div ng-repeat="module in room.modules">
                                            <module></module>
                                        </div>
                                    </div>


                                    <div layout="row" hide show-gt-xs>

                                        <div layout="column" flex="50">
                                            <div ng-repeat="module in room.modulesRight">
                                                <module></module>
                                            </div>
                                        </div>

                                        <div layout="column" flex="50">
                                            <div ng-repeat="module in room.modulesLeft">
                                                <module></module>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </md-tab-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

            </md-content>
        </div>
    </div>
</div>