<md-toolbar ng-controller = "toolbarCtrl" class = "main-toolbar" id = "main-toolbar">
    <div class="md-toolbar-tools">
        <md-button class = "rhabarber-logo-button" aria-label="Haus">
            <img src="./assets/img/rhabarber_logo_whitefont_transparent.png" class = "rhabarber-logo">
        </md-button>

        <span flex></span>

        <md-button class="md-icon-button" aria-label="Notifications">
            <md-icon aria-label="Benachrichtigungen">notifications</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon aria-label="Einstellungen">settings</md-icon>
        </md-button>


        <md-menu>
            <md-button class="md-icon-button profile-icon-button" aria-label="User" ng-click="toolbarCtrl.openUserMenu($mdOpenMenu, $event)">
                <img ng-src={{user.profileUrl}} class="profile-icon">
            </md-button>

            <md-menu-content width="6">
                <md-menu-item>
                    <md-button>
                        <md-icon md-menu-align-target></md-icon>
                        Info
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
</md-toolbar>