<md-toolbar ng-controller = "toolbarCtrl">
    <div class="md-toolbar-tools">

        <!--
        <md-button class="md-icon-button rharbarber-icon-button" aria-label="Haus">
        -->
        <md-button class = "rhabarber-logo-button" aria-label="Haus">

            <!-- <img src="./assets/img/icons/rhabarber_icon.png" class="rharbarber-icon"> -->
            <img src="./assets/img/rhabarber_logo.png" class = "rhabarber-logo">

            <!--<md-icon aria-label="Haus">home</md-icon>-->
        </md-button>

        <span flex></span>

      <!--  <h1>{{getSelectedRoom().name}}</h1> -->

        <span flex></span>

        <md-button class="md-icon-button" aria-label="Notifications">
            <md-icon aria-label="Benachrichtigungen">notifications</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon aria-label="Einstellungen">settings</md-icon>
        </md-button>


        <md-menu>
            <md-button class="md-icon-button" aria-label="User" ng-click="toolbarCtrl.openUserMenu($mdOpenMenu, $event)">
                <md-icon aria-label="Bewohner">person</md-icon>
            </md-button>

            <md-menu-content width="6">
                <md-menu-item>
                    <md-button>
                        <md-icon md-menu-align-target></md-icon>
                        Info
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>





    </div>
</md-toolbar>